#render {
    font-size: 6px;
    font-family: Consolas, monospace;
    background-color: black;
    color: white;
    display: inline-block;
    text-align: left;
    margin: 0;
    line-height: 6px;
}
.hide{
    display: none;
}


#processor {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.optionGroup {
    border: 2px solid gray;
    border-radius: 5px;
    height:fit-content;
    padding: 20px;
}

.option {
    font-family: sans-serif;
    padding: 3px;
    transition-duration: 0.4s;
}

.option:hover:not(.enabled) {
    background-color: lightgreen;
}

.enabled {
    background-color: green;
}

.arg {
}

button {
    border: 3px solid gray;
    border-radius: 5px;
    padding: 5px;
    background-color: lightgrey;
    transition-duration: 0.4s;
}
button:hover {
    background-color: white;
}